<main class="main-content">
  <div class="content-wrapper" *ngIf="!(showVisualPatient$ | async) && !(showDashboard$ | async)">
    <app-content-header></app-content-header>
    <app-exam-list (examDoubleClick)="onExamDoubleClick($event)" style="overflow: auto;"></app-exam-list>
  </div>
  
  <app-visual-patient
    *ngIf="showVisualPatient$ | async"
    [selectedExamId]="(selectedExamId$ | async) || null"
    (closeVisualPatient)="onCloseVisualPatient()">
  </app-visual-patient>
  
  <app-dashboard 
    *ngIf="showDashboard$ | async"
    (close)="onHideDashboard()">
  </app-dashboard>
</main>