{
  "reporting": {
    "window": {
      "left": 100,
      "top": 100,
      "width": 1200,
      "height": 800
    }
  },
  "viewer": {
    "url": "https://viewer.ohif.org/viewer?StudyInstanceUIDs=2.16.840.1.114362.1.11972228.22789312658.616067305.306.2",
    "window": {
      "left": -7,
      "top": 0,
      "width": 926,
      "height": 1183
    }
  },
  "examLimits": {
    "inbox": 7,
    "pending": 3,
    "secondOpinion": 2
  },
  "reportingImages": {
    "nodule1Baseline": "assets/public/images/report/report6.JPG",
    "nodule1Current": "assets/public/images/report/report7.JPG",
    "nodule2Baseline": "assets/public/images/report/report8.JPG",
    "nodule2Current": "assets/public/images/report/report9.JPG"
  }
}