{
  "reporting": {
    "window": {
      "left": 100,
      "top": 100,
      "width": 1200,
      "height": 800
    }
  },
  "viewer": {
    "url": "https://viewer.ohif.org/viewer?StudyInstanceUIDs=2.16.840.1.114362.1.11972228.22789312658.616067305.306.2",
    "window": {
      "left": 200,
      "top": 200,
      "width": 1400,
      "height": 900
    }
  }
}