<div *ngIf="patientInfo$ | async as patientInfo" class="patient-info">
  <img [src]="patientInfo.photo" [alt]="patientInfo.name" class="patient-photo">
  <div class="patient-details">
    <div class="detail-row">
      <span class="label">Name:</span>
      <span class="value">{{patientInfo.name}}</span>
    </div>
    <div class="detail-row">
      <span class="label">Date of Birth:</span>
      <span class="value">{{patientInfo.dateOfBirth | date:'dd/MM/yyyy'}}</span>
    </div>
    <div class="detail-row">
      <span class="label">Patient Number:</span>
      <span class="value">{{patientInfo.patientNumber}}</span>
    </div>
    <div class="detail-row">
      <span class="label">Exam Number:</span>
      <span class="value">{{patientInfo.examNumber}}</span>
    </div>
    <div class="detail-row">
      <span class="label">Gender:</span>
      <span class="value">{{patientInfo.gender}}</span>
    </div>
  </div>
</div>